#PRINT HELLO WORLD

In [1]:
print("hello world")
print("welcome to PDA")

hello world
welcome to PDA

#INDENTATION

In [3]:
print("I have no indentation")
print("I have indentation")

I have no indentation
I have indentation

#TAKING INPUT()

In [4]:
name=input("enter the name:")
print("hello",name,"welcome!")

enter the name: dharshu

hello dharshu welcome!

#PRINTING OUTPUT

In [5]:
S = "ABC"
age = 25
P = "India"
print(S,age,P)

ABC 25 India

#TAKING MULTIPLE INPUTS

In [3]:
x,y,z = input("enter three values:").split()
print("total number of students:",x)
print("total number of boys:",y)
print("total number of girls:",z)

enter three values: 30 15 15

total number of students: 30
total number of boys: 15
total number of girls: 15

#PYTHON VARIABLE

In [10]:
x = 55.7
s = "hello"
print(x)
print(s)

55.7
hello

#TYPE CASTING A VARIABLE

In [11]:
i = int(x)
s1 = str(x)
print(i)
print(s1)

55
55.7

#GETTING TYPE OF VARIABLE

In [12]:
n1 = 55
n2 = 55.6
n3 = "hello"
n4 = [1,2,3]
n5 = {"a":1,"b":2,"c":3}
n6 = True
print(type(n1))
print(type(n2))
print(type(n3))
print(type(n4))
print(type(n5))
print(type(bool))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'type'>

#PYTHON DATA TYPES

numeric data type

In [18]:
a = 5 
print(type(a))
b = 5.2
print(type(b))
c = "5i + 2j"
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

sequence data type

In [19]:
s = "welcome to PDA"
print(type (s))
print(s)
print(s[1])
print(s[-1])

<class 'str'>
welcome to PDA
e
A

#LIST

In [20]:
a = []
print(type(a))
b = [1,2,3]
print(b)
c = [1,2.3,"A","apple"]
print(c)
print(b[0])
print(b[-1])
print(c[-1])
print(c[-2])

<class 'list'>
[1, 2, 3]
[1, 2.3, 'A', 'apple']
1
3
apple
A

#TUPLES

In [22]:
l1 = ("class","for","PDA")
l2 = (1,2,3,4,5)
print(type(l1))
print(l2)
print(l1[-1])
print(l2[-2])

<class 'tuple'>
(1, 2, 3, 4, 5)
PDA
4

#BOOLEAN

In [26]:
print(type(False))
print(type(True))
if 1:
    print("1 is truth")
else:
    print("0 is false")

<class 'bool'>
<class 'bool'>
1 is truth

#SETS

In [27]:
s1 = ()
s2 = ("beautiful day")
s3 = set(["A","B","C"])
print(type(s1))
print(s2)
for s in s3:
    print(s,end = " ")

<class 'tuple'>
beautiful day
A B C

#DICTIONARY

In [2]:
d1 = {}
d2 = {"a":1,"b":2,"c":3}
d3 = {1:"a",2:"b",3:"c"}
print(d2)
print(d3[1])

{'a': 1, 'b': 2, 'c': 3}
a

TYPE CONVERSION

#IMPLICIT TYPE CONVERSION

In [33]:
x = 10
y = 10.6
z = x+y
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'float'>

#EXPLICIT TYPE CONVERSION

In [35]:
a = 52.6
b = int(a)
c = float(a)
print(type(a))
print(type(b))
print(type(c))


s = "helloworld"
t = tuple(s)
u = list(s)
v = set(s)
print(type(s))
print(type(t))
print(type(u))
print(type(v))

<class 'float'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'tuple'>
<class 'list'>
<class 'set'>

OPERATOR

#ARITHMETIC OPERATORS

In [36]:
a = 17
b = 5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

22
12
85
3.4
3
2
1419857

#COMPARISON OPERATOR

In [37]:
a = 7
b = 5
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a!=b)
print(a==b)

True
False
True
False
True
False

#LOGICAL OPERATORS

In [41]:
a = True
b = False
print(a and b)
print(a or b)
print(not b)

False
True
True

#BITWISE OPERATORS

In [42]:
a = 5
b = 2
print(a&b)
print(a|b)
print(~a)
print(a^b)
print(a>>2)
print(a<<2)

0
7
-6
7
1
20

#ASSIGNNMENT OPERATOR

In [1]:
a = 10
b = 2
a+=b
print(a)
a-=b
print(a)
a>>=b
print(a)
b<<=a
print(a)

12
10
2
2

#IDENTIFY OPERATORS

In [45]:
a = 10
b = 5
print(c is a)
print(a is not b)

False
True

#TERNARY OPERATOR

In [46]:
min = a if a<b else b
print(min)

5

#MEMBERSHIP OPERATOR

In [4]:
x = 24
y = 20
list1 = [10,20,30,40]

if x not in list1:
    print("x not in list")

if y in list1:
    print("y is in list")

x not in list
y is in list

#OUESTIONS(FIND OUTPUT)

In [49]:
print(100/10*10)
print(5-2+3)
print(5-(2+3))
print(2**3**2)

100.0
6
0
512

In [50]:
name = "Alex"
age = 0
if(name=="Alex" or name=="John" and age>=2):
    print("welcome")
else:
    print("bye")

welcome

#IF STATEMENT

In [4]:
a=10
if a>5:
    print("a is greater than 5")

a is greater than 5

#IF ELSE STATEMENT

In [5]:
a=3
if a>5:
    print("a is greater than 5")
else:
    print("a is not greater than 5")

a is not greater than 5

#IF ELIF ELSE STATEMENT

In [6]:
marks=85
if marks>=90:
    print("Grade A")
elif marks>=60:
    print("Grade B")
else:
    print("Grade C")

Grade B

#SHORT HAND IF ELSE

In [7]:
x = 10
y = 20
print("x is greater") if x > y else print("y is greater")

y is greater

#NESTED IF ELSE

In [8]:
x = 10
y = 20
print("x is greater") if x > y else print("y is greater")

y is greater

LOOPING STATEMENT

#FOR LOOP

In [9]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

#WHILE LOOP

In [10]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

#BREAK

In [11]:
for i in range(1, 6):
    if i == 3:
        break
    print(i)

1
2

#CONTINUE STATEMENT

In [12]:
for i in range(1, 6):
    if i == 3:
        continue
    print(i)

1
2
4
5

#PASS STATEMENT

In [13]:
for i in range(5):
    if i == 3:
        pass
    print(i)

0
1
2
3
4

#MATCH CASE

In [14]:
day = 2

match day:
    case 1:
        print("Monday")
    case 2:
        print("Tuesday")
    case 3:
        print("Wednesday")
    case _:
        print("Invalid day")

Tuesday

#TERNARY IF ELSE

In [15]:
n = 7
result = "Even" if n % 2 == 0 else "Odd"
print(result)

Odd